{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{block title|striptags}HOMEPAGE{/block}</title>

        {*<link rel="stylesheet" href="{$basePath}/css/style.css" type="text/css" media="screen, projection" />*}

        <!-- Bootstrap 3 (temporarily from CDN) -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{$basePath}/css/main.css">

        

        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js'</script>
        <div class="container">
            <h1>Instante examples</h1>
            {include #content}
        </div>
        <script type="application/json" id="instanteStartupJS" n:ifset="$jsContainer">
            {$jsContainer->getModules()}
        </script>
        <script src="{$basePath}/js/script.min.js"></script>
    </body>
</html>

